body{
    background-color: black;
    background-image: url(img/pag1/pexels-pixabay-159400.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
}

.Menu{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid gray;
}

.Bmenu{
    padding-left: 5.5vw;
    margin-top: 0;
    margin-left: -2vw;
    width: 85.9vw;
    height: 3.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: Regular;
    font-size: 1vw;
}


.Bmenu img{
    margin-left: 10vw;
    width: 1.5vw;
}

#LogoNav{
    width: 3vw;
}

.Ajustes{
    padding-right: 2vw;
    margin-top: 0;
    width: 30%;
    height: 3.5vw;
    display: flex;
    justify-content: right;
    align-items: center;
}

.Ajustes img{
    width: 1vw;
    height: 1vw;
    padding-left: 1vw;
}

#CaraPedro{
    width: 2.5vw;
    height: 2.5vw;
}

.contenedor{
    justify-content: center;
    display: flex;
}

.lineaBlanca{
    width: 100vw;
    height: 3vw;
    background-color: white;
}

.cuadroBlanco{
    position: absolute;
    top: 8vw;
    width: 70vw;
    height: 40vw;
    margin: auto;
    background-color: white;
    border-radius: 1vw;
}

.loguito1{
    position: absolute;
    top: 2vw;
    left: 32vw;
    width: 7vw;
}

.cuadroGris1{
    position: absolute;
    width: 22vw;
    height: 4vw;
    background-color: gray;
    border-radius: 1vw;
    top: 12vw;
    left: 24vw;
}

.cuadroGris2{
    position: absolute;
    width: 30vw;
    height: 3vw;
    background-color: gray;
    border-radius: 1vw;
    top: 18vw;
    left: 20vw;
}

.cuadroGris3{
    position: absolute;
    width: 35vw;
    height: 13vw;
    background-color: gray;
    border-radius: 1vw;
    top: 23vw;
    left: 17.5vw;
}

.boton{
    position: absolute;
    top: 38vw;
    left: 32.5vw;
    width: 6vw;
    height: 1.5vw;
    background-color: orangered;
    border-radius: 1vw;
    font-size: 1vw;
}

.textoA{
    position: absolute;
    font-size: 1.1vw;
    top: 9.5vw;
    left: 24.4vw;
    color: gray;
}

.textoB{
    position: absolute;
    font-size: 1.1vw;
    top: 15.5vw;
    left: 20.5vw;
    color: gray;
}


.textoC{
    position: absolute;
    font-size: 1.1vw;
    top: 20.5vw;
    left: 17.6vw;
    color: gray;
}
