@font-face {
    font-family: bien;
    src: url(/img/pag5/text/MYRIADPRO-REGULAR.OTF);
}

body{
    background-color: black;
    background-image: url(img/pag1/pexels-pixabay-159400.png);
    position: absolute;
    margin: auto;
} 


.contenedor{
    justify-content: center;
    display: flex;
}


.logo1{
    position: absolute;
    margin-top: 20vw;
    animation-duration: 3s; 
    margin-left: 45vw;
    animation-name: parpadeo;
    opacity: 0; 

}

@keyframes parpadeo {
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}

}   

.cuadroBlanco{
    position: absolute;
    margin-top: 10vw;
    left: 30vw;
    width: 40vw;
    height: 30vw;
    background-color: white;
    border-radius: 3vw;
    animation-duration: 1s;
    animation-delay: 3.01s; 
    animation-name: estatico;
    opacity: 0; 
    animation-fill-mode: forwards;

}

@keyframes estatico {
    100%{opacity: 1;}
    
} 

.loguito1{
    position: absolute;
    top: 2vw;
    left: 17.5vw;
    width: 7vw;
}

.texto{
    position: absolute;
    top: 8.5vw;
    text-align: center;
    left: 11.5vw;
    font-size: 1.4vw;
    font-family: bien;
}

.texto1{
    position: absolute;
    font-size: 0.9vw;
    top: 13vw;
    left: 9vw;
    text-align: center;
    color: #afafaf;
}

.usuario{
    position: absolute;
    top: 14.2vw;
    left: 8vw;
    font-size: 1.1vw;
    color: #afafaf;
}

.contra{
    position: absolute;
    top: 18.4vw;
    left: 8vw;
    font-size: 1.1vw;
    color: #afafaf;

}

.cuadrito1{
    position: absolute;
    width: 26vw;
    height: 2vw;
    top: 17vw;
    left: 7.5vw;
    border-radius: 1vw;
    border: 0.1vw solid black;
    font-size: 1.1vw

}
.cuadrito2{
    position: absolute;
    width: 26vw;
    height: 2vw;
    top: 21vw;
    left: 7.5vw;
    border-radius: 1vw;
    border: 0.1vw solid black;
    font-size: 1.1vw

}

.cuadroNaranja{
    position: absolute;
    background-color:#ff6f2c;
    width: 10vw;
    height: 2vw;
    border-radius: 1vw;
    top: 25vw;
    left: 15.5vw;
}

.ingresa{
    position: absolute;
    left: 1.7vw;
    top: -0.3vw;
    color: white;
    font-size: 1vw;
    
}

.cuadroNaranja:hover{
    background-color: rgb(196, 128, 4);
}

.ingresa:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 680px) {
    .logo1{
        position: absolute;
        left: -10vw;
        margin-top: 20vw;
        animation-duration: 3s; 
        margin-left: 45vw;
    }

    .cuadroBlanco{
        position: absolute;
        margin-top: 10vw;
        left: 5vw;
        width: 90vw;
        height: 70vw;
        background-color: white;
        border-radius: 3vw;
       
    
    }
    .loguito1{
        position: absolute;
        top: 2vw;
        left: 40.5vw;
        width: 7vw;
    }
    
    .texto{
        position: absolute;
        top: 8.5vw;
        text-align: center;
        left: 24.5vw;
        font-size: 3.5vw;
        font-family: bien;
    }
    
    .texto1{
        position: absolute;
        font-size: 2vw;
        top: 18.5vw;
        left: 17.5vw;
        text-align: center;
        color: #afafaf;
    }
    
    .usuario{
        position: absolute;
        top: 19.2vw;
        left: 19.7vw;
        font-size: 3vw;
        color: #afafaf;
    }
    
    .contra{
        position: absolute;
        top: 28.7vw;
        left: 19.7vw;
        font-size: 3vw;
        color: #afafaf;
    
    }
    
    .cuadrito1{
        position: absolute;
        width: 50vw;
        height: 4vw;
        top: 26vw;
        left: 19.5vw;
        border-radius: 3vw;
        border: 0.1vw solid black;
        font-size: 1.1vw
    
    }
    .cuadrito2{
        position: absolute;
        width: 50vw;
        height: 4vw;
        top: 35vw;
        left: 19.5vw;
        border-radius: 3vw;
        border: 0.1vw solid black;
        font-size: 1.1vw
    
    }
    
    .cuadroNaranja{
        position: absolute;
        background-color:#ff6f2c;
        width: 15vw;
        height: 4vw;
        border-radius: 3vw;
        top: 45vw;
        left: 36.5vw;
    }
    
    .ingresa{
        position: absolute;
        left: 1.7vw;
        top: -0.8vw;
        color: white;
        font-size: 1.8vw;
        
    }
    
    .cuadroNaranja:hover{
        background-color: rgb(196, 128, 4);
    }
    
    .ingresa:hover{
        text-decoration: underline;
    }
    
    
}    