body{
    background-color: black;
    background-image: url(img/pag1/pexels-pixabay-159400.png);
    position: absolute;
    margin: auto;
} 

.contenedor{
    justify-content: center;
    display: flex;
}

.lineaBlanca{
    width: 100vw;
    height: 3vw;
    background-color: white;
    border-radius: 1vw;
}

.cuadroBlanco{
    position: absolute;
    top: 8vw;
    width: 70vw;
    height: 40vw;
    margin: auto;
    background-color: white;
    border-radius: 1vw;
}

.loguito1{
    position: absolute;
    top: 2vw;
    left: 32vw;
    width: 7vw;
}


.cuadroGris1{
    position: absolute;
    background-color: gray;
    width: 29vw;
    height: 25.5vw;
    left: 5vw;
    top: 12vw;
    border-radius: 1vw;

}

.recta1{
    position: absolute;
    width: 20vw;
    height: 2.5vw;
    background-color: white;
    border-radius: 1vw;
    top: 4.5vw;
    left: 5vw;
}
.recta2{
    position: absolute;
    width: 20vw;
    height: 2.5vw;
    background-color: white;
    border-radius: 1vw;
    top: 9.5vw;
    left: 5vw;
}
.recta3{
    position: absolute;
    width: 20vw;
    height: 2.5vw;
    background-color: white;
    border-radius: 1vw;
    top: 14.5vw;
    left: 5vw;
}
.recta4{
    position: absolute;
    width: 20vw;
    height: 2.5vw;
    background-color: white;
    border-radius: 1vw;
    top: 19.5vw;
    left: 5vw;
}

.cuadroGris2{
    position: absolute;
    background-color: gray;
    width: 29vw;
    height: 25.5vw;
    left: 37vw;
    top: 12vw;
    border-radius: 1vw;
   

}

.rectangulo1{
    position: absolute;
    width: 20vw;
    height: 2.5vw;
    background-color: white;
    border-radius: 1vw;
    top: 4.5vw;
    left: 5vw;
}
.rectangulo2{
    position: absolute;
    width: 20vw;
    height: 2.5vw;
    background-color: white;
    border-radius: 1vw;
    top: 9.5vw;
    left: 5vw;
}
.rectangulo3{
    position: absolute;
    width: 20vw;
    height: 2.5vw;
    background-color: white;
    border-radius: 1vw;
    top: 14.5vw;
    left: 5vw;
}
.rectangulo4{
    position: absolute;
    width: 20vw;
    height: 2.5vw;
    background-color: white;
    border-radius: 1vw;
    top: 19.5vw;
    left: 5vw;
}
    


