@font-face {
    font-family: a;
    src: url(./img/pag5/text/MYRIADPRO-REGULAR.OTF);
}

@font-face {
    font-family: b;
    src: url(./img/pag5/text/MyriadPro-Light.otf);
}

body{
    background-image: url(img/pag1/pexels-pixabay-159400.png);
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
    animation-name: fondo;
    animation-delay: 4s;
    animation-fill-mode: forwards;  
}

/* @keyframes fondo {
    0%{opacity: 1;}
    100%{opacity: 0;}
    
} */

.conten_user{
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 7.66vw;
    left: 26vw;
    width: 46.36vw;
    height: 26vw;
    background-color: #fff;
    border-radius: 3vw;
    animation-name: primer;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes primer {
    0%{opacity: 1;}
    40%{opacity: 1;}
    80%{opacity: 1;}
    100%{opacity: 0;}
    
}

.log{
    position: absolute;
    top: 2vw;
    left: 20vw;
    width: 6vw;
    height: 6vw;
}



.text1{
    position: absolute;
    top: 7.5vw;
    left: 15vw;
    font-size: 2vw;
    color: #000000;
    font-family: a;
}

.foto{
    position: absolute;
    top: 13vw;
    left: 20.5vw;
    width: 6vw;
    height: 6vw;
}

.text2{
    position: absolute;
    top: 18vw;
    left: 12vw;
    font-size: 2vw;
    color: #000000;
    font-family: a;
}

.text3{
    position: absolute;
    top: 22.5vw;
    left: 18.5vw;
    font-size: 1vw;
    color: #000000;
    font-family: b;
}


.logo1{
    position: absolute;
    margin-top: 20vw;
    animation-duration: 2s; 
    margin-left: 45vw;
    animation-name: parpadeo;
    opacity: 0;
    animation-delay: 2s;
}

@keyframes parpadeo {
    0%{opacity: 0;}
    30%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 1;}
    
}

.barritamenu{
    background-color: #fff;
    display: flex;
    flex-direction: row;
}

.Bmenu{
    padding-left: 5vw;
    margin-top: 0;
    margin-left: -2vw;
    width: 115vw;
    height: 3.5vw;
    border-bottom: 2px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: Regular;
    font-size: 1vw;
}

#NavText{
    position: absolute;
    margin-top: 0.3vw;
    margin-left: 0.5vw;
}

.Bmenu img{
    width: 1.5vw;
}

#LogoNav{
    width: 3vw;
}

.Ajustes{
    padding-right: 2vw;
    margin-top: 0;
    width: 30%;
    height: 3.5vw;
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: right;
    align-items: center;
}

.Ajustes img{
    width: 1vw;
    height: 1vw;
    padding-left: 1vw;
}

#CaraPedro{
    width: 2.5vw;
    height: 2.5vw;
}

.container{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 93%;
    overflow: hidden;
}
   



.textoPrincipal{
    margin-left: -7vw;
    text-align: center;
    margin-top: 2vw;
    font-size: 2.1vw;
    font-family: a;

}

.textoSecundario{
    margin-left: 20vw;
    margin-top: 1.5vw;
    font-size: 1.5vw;
    font-family: b;

}

.titulos{
    margin-left: 4vw;
    width: 90vw;
    justify-content: space-around;
    display: flex;
    font-size: 1.1vw;

}


.con_dele{
    margin-top: 3vw;
    margin-left: 3vw;
    border-radius: 1vw;
    animation-name: tercero;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes tercero {
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
    
} 

.bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: Regular;
    font-size: 1vw;
    background-color: #fff;
    width: 83vw;
    border-radius: 1vw;
    margin-top: 2vw;
    margin-left: 2vw;
    border:  1px solid black;
}

.bar1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: Regular;
    font-size: 1vw;
    background-color: #fff;
    width: 78vw;
    border-radius: 1vw;
    margin-top: 4vw;
    margin-left: 3vw;
     
}

.textoCate{
    margin-left: 3.5vw;
}

.textoFe{
    margin-left: -1vw;
}

.textoFe1{
    margin-left: -2.2vw;
}

.textoFo{
    margin-left: -2vw;
}





svg{
    width: 9vw;
    height: 9vw;
}

circle {
    width: 9vw;
    height: 9vw;
    fill: none;
    stroke-width: 0.3vw;
    stroke-dasharray: 80 80;
    transform: rotate(-90deg);
    transform-origin: 50%;
}

.c1{
    position: absolute;
    margin-top: 0vw;
    margin-left: 68vw;
    width: 2.6vw;
    height: 2.6vw;
    stroke: #FF0000;
}

.t1{
    font-size: 0.8vw;
}

.c2{
    position: absolute;
    margin-top: 0vw;
    margin-left: 68vw;
    width: 2.6vw;
    height: 2.6vw;
    stroke: #FF0000;
}

.t2{
    font-size: 0.8vw;
}

.c3{
    position: absolute;
    margin-top: 0vw;
    margin-left: 68vw;
    width: 2.6vw;
    height: 2.6vw;
    stroke: #00D010;
}

.t3{
    font-size: 0.8vw;
}

.c4{
    position: absolute;
    margin-top: 0vw;
    margin-left: 68vw;
    width: 2.6vw;
    height: 2.6vw;
    stroke: #FF0000;
}

.t4{
    font-size: 0.8vw;
}

.c5{
    position: absolute;
    margin-top: 0vw;
    margin-left: 68vw;
    width: 2.6vw;
    height: 2.6vw;
    stroke: #00D010;
}

.t5{
    font-size: 0.8vw;
}

.Dele_ico{
    position: absolute;
    margin-left: 87vw;
    margin-top: -2.7vw;
    width: 1.5vw;
    height: 2vw;
}

.bar p{
    width: 12vw;
}

.icono{
    margin-top: 3vw;
    text-align: center;
    color: #fff;
}

.img1{
    width: 5vw;
}

.icono p{
    margin-top: 0;
    font-size: 1.2vw;
}

.botG{
    color: #fff;
    text-align: center;
    margin-top: 4vw;
    margin-left: 40vw;
    border-radius: 1vw;
    background-color: #FF6F2C;
    width: 12vw;
    height: 2vw;
    font-size: 1.3vw;
}

.botG a{
    text-decoration: none;
}
.contenedor2{
    margin-top: -3vw;
    background-color: white;
    animation-name: animacion2;
    animation-delay: 4s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes animacion2 {
    0%{opacity: 0;}
    100%{opacity: 1;}

    
}






